.header{
    height: 200px;
    padding: 30px 40px;
    display: flex;
    background-color: #fff;
}

.site-slogan{
    width: 470px;
    margin-left: 50px;
    text-align: center;
}
h2{
    font-size: 45px;
    margin-left: 10px;
}